@use 'sass:math';

// ---------- Spacing ----------
$spacer: 1rem !default;

// ---------- Navbar ----------
$nav-link-height: 3rem !default;
$navbar-brand-height: 2.5rem !default;
$navbar-brand-padding-y: math.div($nav-link-height - $navbar-brand-height, 2);
$navbar-padding-y: math.div($spacer, 2);

// ---------- Typography ----------
$headings-margin-bottom: math.div($spacer, 2);

// ---------- Inputs / Forms ----------
$input-padding-y: 0.5rem !default;
$input-height-inner-quarter: math.div($input-padding-y, 2);

// ---------- Custom controls ----------
$custom-control-indicator-size: 1rem !default;
$custom-switch-indicator-border-radius: math.div($custom-control-indicator-size, 2);

// ---------- Navs ----------
$nav-divider-margin-y: math.div($spacer, 2);

// Variable overrides


$danger-dark:  #8c1515 !default;
$danger:       #ac1515 !default;
$danger-50:    #fc1515 !default;
$danger-25:    #f9d4d4 !default;

// scss-docs-start theme-colors-map
$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
                (
                        "danger":     $danger
                ),
                $theme-colors
);
