// If you want to override variables do it here
@import "variables";
@import 'mixins';
// If you want to add something do it here
@import "custom";

// Import styles with default layout.
@import "~@coreui/coreui-pro/scss/coreui";


.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
.bg-login{
  border-radius: 1rem ;
  background: linear-gradient(180deg,#8c1515 30%,#FEC260 60%);
}

.border-radius-1{
  border-radius: 1rem ;
  //background: linear-gradient(180deg,#8c1515 30%,#FEC260 60%, #FFFF 80%);
}
.bg-style2{
  border-radius: 1rem ;
  margin-bottom: 0px;
}
.border-radius-1{
  border-radius: 1rem ;
}
.line1{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//.card{
//  margin-bottom: 0px;
//}
//
//.zoom:hover{
//  z-index: 999;
//  cursor: pointer;
//  transition: all 0.5s ease;
//}
//.zoom:hover{
//  filter: grayscale(0);
//  transform: scale(1.1) ;
//  z-index: 999;
//}
//
//
////
//
//
//.horizontal-scroll {
//  display: flex;
//  width: 100%;
//}
//.outer {
//  display: flex;
//  flex: 1;
//  width: auto;
//  height: 100%;
//  padding: 0 20px;
//  flex-flow: row nowrap;
//  align-items: center;
//}
//.inner-content:not(:first-of-type) {
//  margin-left: 30px;
//}
//.top-0{
//  top:0;
//}
//.right-0{
//  right: 0;
//}
//
///*.inner-content {*/
///*  flex-shrink: 0;*/
///*  align-items: center;*/
///*  justify-content: center;*/
///*  width: 100px;*/
///*  height: calc(100% - 40px);*/
///*}*/



//
//page {
//  background: white;
//  display: block;
//  margin: 0 auto;
//  margin-bottom: 0.5cm;
//  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
//}
//page[size="A4"] {
//  width: 21cm;
//  height: 29.7cm;
//}
//page[size="A4"][layout="portrait"] {
//  width: 29.7cm;
//  height: 21cm;
//}
//
//
//page[size="A7"] {
//  width: 7.5cm;
//  height: 14.8cm;
//}
//
//.animalPrint{
//  width: 7.5cm;
//  height: 14.8cm;
//  overflow: hidden;
//
//}
//.contentPrint{
//  width: 7.5cm;
//  top: 0%;
//  position: relative;
//  transition: all 1s ease-out;
//  height: 100%;
//}
//
//.animalPrint:hover > .contentPrint {
//  top: -90%;
//}
//
//@media print {
//  body{
//    zoom: 150%;
//
//  }
//  body, .page {
//    margin: 0;
//    padding: 0;
//    box-shadow: 0 0 0.5cm white;
//    background: white;
//  }
//
//  .noPrint{
//    display: none;
//  }
//  .c-body,.c-main {
//    padding-top: 0;
//    padding-left: 0;
//    padding-right: 0;
//    padding-bottom: 0;
//  }
//  .c-main > .container-fluid {
//    padding-top: 0;
//    padding-left: 0;
//    padding-right: 0;
//    padding-bottom: 0;
//  }
//}
